$gap :12px;
$app-bg-image: url("../public/bgTrello1.jpg");
$font-body: 14px;
$with-column-item: 250px;
$hight-column-item: 37px;
$header-column-height: 40px;
$footer-column-height: 35px;
$with-column: 275px;
$backGround-button-delete: #c5c5c5;